<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.eu.mapper.ArmyMapper" >

    <select id="listArmyByUnionId" resultType="org.eu.entity.Army">
        SELECT
            id,
            `name`,
            short_name,
            union_id
        FROM
            army
        WHERE
            state = 'A'
          AND union_id = #{unionId}
    </select>
</mapper>
