<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.eu.mapper.PaymentMapper" >

    <resultMap id="baseResultMap" type="org.eu.entity.Payment">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="rate" column="rate"/>
        <result property="lossStartTime" column="loss_start_time"/>
        <result property="lossEndTime" column="loss_end_time"/>
        <result property="limitArea" column="limit_area"/>
        <result property="limitConstellation" column="limit_constellation"/>
        <result property="limitGalaxy" column="limit_galaxy"/>
        <result property="endTime" column="end_time"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="standardPaymentResultMap" type="org.eu.entity.StandardPayment">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <collection property="relatedShipList" ofType="org.eu.entity.Ship" select="listStandardPaymentShip" column="{standardPaymentId=id}">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="type" column="type"/>
            <result property="level" column="level"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <insert id="insertPayment" useGeneratedKeys="true" keyProperty="id" parameterType="org.eu.entity.Payment">
        INSERT INTO payment ( `name`, rate, loss_start_time, loss_end_time, limit_area, limit_constellation, limit_galaxy, end_time )
        VALUES
            (#{name},#{rate},#{lossStartTime},#{lossEndTime},#{limitArea},#{limitConstellation},#{limitGalaxy},#{endTime});
    </insert>

    <select id="pagePayment" resultMap="baseResultMap">
        SELECT
        id,
        `name`,
        end_time,
        create_time
        FROM
        payment
        WHERE
        state = 'A'
        <if test="startDate != null">
            AND
            create_time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND
            create_time &lt;= #{endDate}
        </if>
    </select>

    <select id="listPaymentShip" resultType="org.eu.entity.Ship">
        SELECT
            s.id,
            s.`name`,
            s.type,
            s.`level`,
            sp.num AS price
        FROM
            standard_payment_ship sps
                LEFT JOIN payment_standard_payment psp ON psp.standard_payment_id = sps.standard_payment_id
                LEFT JOIN ship s ON s.id = sps.ship_id
                LEFT JOIN standard_payment sp ON sp.id = sps.standard_payment_id
        WHERE
            psp.payment_id = #{paymentId}
        AND
            sps.state = 'A'
    </select>

    <select id="listStandardPaymentShip" resultType="org.eu.entity.Ship">
        SELECT
            s.id,
            s.`name`,
            s.type,
            s.`level`,
            sp.num AS price
        FROM
            standard_payment_ship sps
                LEFT JOIN ship s ON s.id = sps.ship_id
                LEFT JOIN standard_payment sp ON sp.id = sps.standard_payment_id
        WHERE
            sps.standard_payment_id = #{standardPaymentId}
          AND
            sps.state = 'A'
    </select>

    <select id="getPaymentUnionArmy" resultType="org.eu.entity.Army">
        SELECT DISTINCT
            a.id,
            a.`name`,
            a.short_name AS shortName,
            u.`name` AS unionName
        FROM
            loss l
                LEFT JOIN army a ON a.id = l.army_id
                LEFT JOIN `union` u ON u.id = a.union_id
        WHERE
            l.state = 'A'
          AND l.payment_id = #{paymentId}
    </select>

    <select id="listPaymentStandardPayment" resultMap="standardPaymentResultMap">
        SELECT
            sp.id,
            sp.`name`,
            sp.num
        FROM
            payment_standard_payment psp
                LEFT JOIN standard_payment sp ON sp.id = psp.standard_payment_id
        WHERE
            psp.state = 'A'
          AND psp.payment_id = #{paymentId}
    </select>

</mapper>